<!-- <div class="row">
    <div class="col s22 l4 offset-14" id="login-page" class="row">
      <div class="card grey lighten-3">
        <div class="card-content">
          <h4 class="card-title center-align">Añadir Productos</h4>
          <form [formGroup]="fgvalidador" (ngSubmit)="GuardarProducto()" method="POST" action="fomulario-contacto.php">
              <div class="input-field">
                <label for="nombre" data-error="wrong" data-success="right">Nombre</label>
                <input formControlName= "nombre" type="text" required />
              </div>

              <div class="input-field">
                <label for="descripcion" data-error="wrong" data-success="right">descripcion</label>
                <input formControlName= "descripcion" type="text" required />
              </div>

              <div class="input-field">
                <label for="caracteristicas" data-error="wrong" data-success="right">caracteristicas</label>
                <input formControlName= "caracteristicas" type="text" required />
              </div>

              <div class="input-field">
                <label for="foto" data-error="wrong" data-success="right">foto</label>
                <input formControlName= "foto" type="text" required />
              </div>

              <div class="input-field">
               
                <input formControlName= "thumbnail" type="text" />
              </div>

              <div class="input-field">
                <label for="precio" data-error="wrong" data-success="right">precio</label>
                <input formControlName= "precio" type="text" required />
              </div>

              <div class="input-field">
                <label for="stock" data-error="wrong" data-success="right">stock</label>
                <input formControlName= "stock" type="text" required />
              </div>

            <div class="row">
              <div class="input-field col s12">
                <button [disabled]="!fgvalidador.valid" class="btn waves-effect waves-light col s12" name="action" type="submit">Guardar Producto</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div> -->
  <h4 align="center">Registro de Productos!</h4>

<div class="row">
  <form [formGroup]="fgvalidador" class="col s12" (ngSubmit)="GuardarProducto()">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">perm_contact_calendar</i>
        <input formControlName="nombre" id="txtnombreproducto" type="text" class="validate" />
        <label for="txtnombreproducto">Nombre</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">insert_link</i>
        <input formControlName="foto" id="txtFoto" type="text" class="validate" />
        <label for="txtFoto">Imagen Producto</label>
      </div>
  
    </div>

    <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea formControlName="descripcion"  id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Descripción</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea formControlName="caracteristicas" id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Características</label>
        </div>
    </div>

  <div class="row">
    <div class="input-field col s3">
      <i class="material-icons prefix">attach_money</i>
      <input formControlName="precio" id="txtprecio" type="text" class="validate" />
      <label for="txtprecio">Precio</label>
    </div>

    <div class="input-field col s3">
      <i class="material-icons prefix">arrow_upward</i>
      <input formControlName="stock"  id="txtstock" type="text" class="validate" />
      <label for="txtstock">Stock</label>
    </div>
    
    <!-- <div class="input-field col s6">
      <i class="material-icons prefix">insert_link</i>
      <input formControlName="thumbnail" id="txtThumbnail" type="text" class="validate" />
      <label for="txtThumbnail">Imagen Pequeña</label>
    </div> -->
  </div>

      <div class="row">
        <div class="input-field col s12" align="center">
           <button [disabled]="!fgvalidador.valid" class="btn waves-effect waves-light" type="submit" name="action">Guardar
            <i class="material-icons right">send</i></button>
        </div>
      </div>

  </form>
</div>