<!-- <div class="row">
    <div class="col s22 l4 offset-14" id="login-page" class="row">
      <div class="card grey lighten-3">
        <div class="card-content">
          <h4 class="card-title center-align">Actualizar Productos</h4>
          <form [formGroup]="fgvalidador" (ngSubmit)="EditarProducto()" action="fomulario-contacto.php">
            <input type="hidden" formControlName="id"/>
              <div class="input-field">
                <label for="nombre" class="active">Nombre</label>
                <input formControlName= "nombre" type="text" required />
              </div>

              <div class="input-field">
                <label for="descripcion" class="active">descripcion</label>
                <input formControlName= "descripcion" type="text" required />
              </div>

              <div class="input-field">
                <label for="caracteristicas" class="active">caracteristicas</label>
                <input formControlName= "caracteristicas" type="text" required />
              </div>

              <div class="input-field">
                <label for="foto" class="active">foto</label>
                <input formControlName= "foto" type="text" required />
              </div>

              <div class="input-field">
                <input formControlName= "thumbnail" type="text" type="hidden" class="active"/>
              </div>

              <div class="input-field">
                <label for="precio" class="active">precio</label>
                <input formControlName= "precio" type="text" required />
              </div>

              <div class="input-field">
                <label for="stock" class="active">stock</label>
                <input formControlName= "stock" type="text" required />
              </div>

            <div class="row">
              <div class="input-field col s6">
                <button [disabled]="!fgvalidador.valid" class="btn waves-effect waves-light col s12" name="action" type="submit">Editar Producto</button>
              </div>
            </div>
          </form>
          <form [formGroup]="fgvalidador" (ngSubmit)="EliminarProducto()" action="fomulario-contacto.php">
            <div class="input-field col s6">
              <button class="btn waves-effect waves-light col s12" name="action" type="submit2">Eliminar Producto</button>
            </div>
          </form>
        </div>
      </div>
  </div> -->
<h4 align="center">Editar Producto</h4>
<div class="row">
  <form [formGroup]="fgvalidador" class="col s12" (ngSubmit)="EditarProducto()">
    <input type="hidden" formControlName="id" />
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">perm_contact_calendar</i>
        <input formControlName="nombre" id="txtnombreproducto" type="text" class="validate"/>
        <label class="active" for="txtnombreproducto">Nombre</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">insert_link</i>
        <input formControlName="foto" id="txtFoto" type="text" class="validate"/>
        <label class="active" for="txtFoto">Imagen Producto</label>
      </div>

      
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">mode_edit</i>
        <textarea formControlName="descripcion" id="icon_prefix2"class="materialize-textarea">
</textarea>
        <label class="active" for="icon_prefix2">Descripción</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix">mode_edit</i>
        <textarea formControlName="caracteristicas" id="icon_prefix2"class="materialize-textarea">
        </textarea>
        <label class="active" for="icon_prefix2">Características</label>
      </div>
    </div>

    <div class="row">

      <div class="input-field col s4">
        <i class="material-icons prefix">attach_money</i>
        <input formControlName="precio" id="txtprecio" type="text" class="validate"/>
        <label class="active" for="txtprecio">Precio</label>
      </div>

      <div class="input-field col s4">
        <i class="material-icons prefix">arrow_upward</i>
        <input formControlName="stock" id="txtstock" type="text" class="validate"/>
        <label class="active" for="txtstock">Stock</label>
      </div>
      <!-- <div class="input-field col s6">
        <i class="material-icons prefix">insert_link</i>
        <input formControlName="thumbnail" id="txtThumbnail" type="text" class="validate"/>
        <label class="active" for="txtThumbnail">Imagen Pequeña</label>
      </div> -->

    </div>
      <div class="row" class="input-field col s6">
        <button
          [disabled]="!fgvalidador.valid" class="btn waves-effect waves-light col s5 "type="submit" name="action">Guardar<i class="material-icons right">send</i>
        </button>
      </div>

      <form [formGroup]="fgvalidador" (ngSubmit)="EliminarProducto()">
        <div class="row" class="input-field col s6">
          <button [disabled]="!fgvalidador.valid" class="btn waves-effect waves-light2 col s5 center-align" type="auxclick" name="action">Eliminar Producto<i class="material-icons right" >send</i></button>
        </div>
      </form>
  </form>
</div>
